{% extends "auctions/layout.html" %}

{% block body %}
  <h1>New Listing</h1>
  {{ error_message }}
  <form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title" autofocus="True">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="category" placeholder="Category">
    <input type="number" name="price" placeholder="Starting Price">
    <input type="text" name="image" placeholder="Image URL">
    <input type="submit" value="Create">
  </form>
{% endblock%}
