{% extends "auctions/layout.html" %}

{% block body %}

  <h1>{{ listing.title }}</h1>
  <p>{{ listing.description }}</p>
  <p>Current Bid: £{{ listing.price}}</p>
  {% if listing.image %}
    <div class="img-box">
      <img src="{{ listing.image }}" alt="{{ listing.title }}">
    </div>
  {% endif %}

  {% if user.is_authenticated %}
    {% if listing.user == user %}
      <p>edit</p>
      <p>delete</p>
      <p>close bid</p>
    {% else %}
      listing user id: {{listing.user.id}} ({{listing.user}})
      listing id:{{listing.id}}
      user logged in: {{ user }}
      <form action="{% url 'create_watchlist' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ user.id }}" name="user">
        <input type="hidden" value="{{ listing.id }}" name="listing">
        <input type="submit" value="Add to Watchlist">
      </form>
    {% endif %}
  {% else %}
    <p>login to bid</p>
  {% endif %}


{% endblock %}
