{% extends "auctions/layout.html" %}

{% block body %}

  <h1>{{ listing.title }}</h1>
  <p>{{ listing.description }}</p>
  <p>Current Bid: £{{ listing.price}}</p>
  {% if listing.image %}
    <div class="img-box">
      <img src="{{ listing.image }}" alt="{{ listing.title }}">
    </div>
  {% endif %}
  <p>Status: {{ listing.active }}</p>

    {% if listing.user == user %}
      <form action="{% url 'close_bid' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ listing.id}}" name="listing_id">
        <input type="hidden" value="{{ user.id }}" name="user_id">
        <input type="submit" value="Close Bid">
      </form>
    {% else %}
      <br>
      {% if listing.active == 'Active' %}
        <form action="{% url 'make_bid' %}" method="post">
          {% csrf_token %}
          <input type="hidden" value="{{ user.id }}" name="user_id">
          <input type="hidden" value="{{ listing.id }}" name="listing_id">
          <input type="number" name="price">
          <input type="submit" value="Place Bid">
        </form>
        {{ message }}
        <br>
        <br>
        <form action="{% url 'create_watchlist' %}" method="post">
          {% csrf_token %}
          <input type="hidden" value="{{ user.id }}" name="user">
          <input type="hidden" value="{{ listing.id }}" name="listing">
          <input type="submit" value="Add to Watchlist">
        </form>
      {% else %}
        {% if user == listing.price.user %}
          <p>You have won the bid!</p>
      {% endif %}
      <br>
    {% endif %}
      <div>
      <h3>Add a comment</h3>
        <form action="{% url 'add_comment' %}" method="post">
          {% csrf_token%}
          <input type="text" name="comment_title" placeholder="Title">
          <input type="text" name="comment_description" placeholder="Description">
          <input type="hidden" value="{{ user.id }}" name="user_id">
          <input type="hidden" value="{{ listing.id }}" name="listing_id">
          <input type="submit" value="Post">
        </form>
      </div>
      <br>
    {% endif%}

  <h3>Comments</h3>
  {% for comment in comments %}
    <div>
      <h4>{{ comment.title }}</h4>
      <p>{{ comment.description }}</p>
    </div>
  {% endfor %}

{% endblock %}
