{% extends "auctions/layout.html" %}

{% block body %}
  <h1>Your Watchlist</h1>
  {{ message }}
  {% for watchlist_item in watchlist_index %}
    <a href="{% url 'view_listing' watchlist_item.listing.id %}">
      <div class="listing-box">
        <div>
          <h3>{{ watchlist_item.listing.title }}</h3>
          <p>{{ watchlist_item.listing.description }}</p>
          <p>{{ watchlist_item.listing.price }}</p>
        </div>
        {% if watchlist_item.listing.image %}
          <div class="img-box">
            <img src="{{ watchlist_item.listing.image }}" alt="{{ watchlist_item.listing.title }}">
          </div>
        {% endif %}
      </div>
    </a>
  {% endfor %}
{% endblock %}
